@import "./base.css";

body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#app {
  min-height: 100vh;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: rgb(23, 236, 244);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: rgb(19, 194, 200);
  }
}

@media (min-width: 1024px) {

}
